@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  border-color: var(--secondary-gray);
  box-sizing: border-box;
}

:root {
  --main-highlight-color-1: #ff7337;
  --main-highlight-color-2: #47dad0;
  --main-font-color: #5a5a5a;
  --main-gray: #aeaeae;
  --secondary-gray: #e5e5e5;
  --main-font-size: 12pt;
  --main-font-weight: 500;
  --main-border-weight: 1px;
}

a {
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: var(--main-font-color);
}

h1 {
  color: var(--main-highlight-color-1);
  font-size: 64pt;
}

h2 {
  color: var(--main-highlight-color-);
  font-size: 48pt;
}

h3 {
  color: var(--main-highlight-color-1);
  font-size: 24pt;
}

h4 {
  color: var(--main-highlight-color-1);
  font-size: 16pt;
}

h5 {
  font-size: 12px;
  color: var(--main-gray);
}

p {
  color: var(--main-font-color);
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}

nav > ul > li {
  padding: 16px;
}

nav li {
  min-width: 20px;
}

nav > a > img {
  width: 200px;
}

input,
select {
  border: 1px solid var(--main-gray);
  border-color: var(--secondary-gray);
  color: var(--main-font-color);
  border-radius: 8px;
}

button {
  color: white;

  background-color: var(--main-highlight-color-1);
  border: none;
  padding: 8px 16px;
  transition: 0.2s background-color;
  border-radius: 8px;
}

button:hover,
button:focus {
  color: white;
  outline: none;
  background-color: var(--main-highlight-color-2);
}

.like {
  color: white;
  outline: none;
  background-color: var(--main-highlight-color-1);
}

.unlike {
  color: var(--main-gray) !important;
  background-color: transparent !important;
  outline: 1px solid var(--secondary-gray) !important;
  border-radius: 4px;
}

hr {
  color: var(--main-gray);
}

a {
  color: var(--main-font-color);
}

a:hover {
  color: var(--main-highlight-color-1);
}

p {
  color: var(--main-font-color);
}

.active {
  font-weight: bold;
  color: var(--main-highlight-color-1);
}

.app {
  width: 85vw;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  justify-content: space-between;
  height: 30px;
  padding-bottom: 32px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.button-add {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 40px;
  border-radius: 60px;
  right: 8vw;
  text-align: center;
  outline: transparent;
  font-size: 24px;
  color: white !important;
  background-color: var(--main-highlight-color-1);
  box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.2);
}

.button-add:hover {
  background-color: white !important;
  color: var(--main-font-color) !important;
}

.initiative-container {
  margin: 24px 0px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
}

.initiative {
  margin: 16px;
  width: 100%;
}

.initiative-subnavbar {
  margin: 6px;
  display: flex;
  justify-content: space-between;
}

.initiative-subnavbar-filters {
  display: flex;
  align-items: center;
  width: 50%;
}

.title-button {
  display: flex;
  justify-content: space-between;
}

.initiative-subnavbar-filters input,
.initiative-subnavbar-filters select {
  margin-left: 16px;
  border-radius: 8px;
  height: 32px;
}
.initiative-subnavbar-filters div {
  white-space: nowrap;
  background-color: var(--main-highlight-color-1);
  color: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-highlight-color-1);
}

/*iniciativemodalcreate.js*/

.modal {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modal-body {
  font-size: 16px;
  background: white;
  z-index: 1;
  width: 400px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.modal-body input {
  font-size: 16px;
  margin-top: 4px;
  border-radius: 8px;
}

.modal-body button {
  border-color: var(--secondary-gray);
  color: white;
}

.modal-body h4 {
  margin-bottom: 8px;
  margin-top: 4px;
  color: var(--main-font-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form textarea,
input {
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.modal-form button {
  color: white;
  margin-top: 8px;
  border-radius: 4px;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  padding: 0;
  opacity: 0;
}

[type="file"] + label {
  position: relative;
  background: var(--main-gray);
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-weight: 900;
  margin-bottom: 1rem;
  outline: none;
  height: 84px;
  width: 128px;
  transition: all 0.3s;
}

[type="file"] + label:hover {
  background: var(--main-highlight-color-1);
}

label p {
  z-index: 1;
}

progress {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  color: var(--main-highlight-color-1);
}
progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background-color: #fd5160;
}

.modal-upload-images {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.images {
  display: flex;
  flex-direction: row;
  height: 88px;
}

.image-added {
  position: relative;
}
.image-added img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.image-added p {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  color: transparent;
  display: grid;
  place-items: center;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.image-added p:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--main-highlight-color-1);
}

.image-added {
  position: relative;
  height: 84px;
  width: 128px;
  margin: 0px 8px;
  border-radius: 8px;
  overflow: hidden;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
}

#ck-button {
  margin: 4px;
  padding: 4px;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  overflow: auto;
  float: left;
}

#ck-button:hover {
  margin: 4px;
  background-color: #efefef;
  border-radius: 8px;
  border: 1px solid red;
  overflow: auto;
  float: left;
  color: red;
}

#ck-button label {
  float: left;
  width: 4em;
}

#ck-button label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
}

#ck-button label input {
  position: absolute;
  top: -20px;
}

#ck-button input:checked + span {
  background-color: var(--main-highlight-color-1);
  color: #fff;
}

/* Login **/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.login h1,
h4 {
  color: var(--main-font-color);
}

.login-info {
  width: 60%;
}

.login-info img {
  width: 160px;
}

.login-info-text {
  margin-top: 20%;
}

.login-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  margin-top: 10px;
}

.login-buttons div {
  text-align: center;
  display: grid;
  place-items: center;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  height: 32px;
}

.login-buttons div:first-child {
  background: var(--main-highlight-color-1);
}
.login-buttons div:last-child {
  background: var(--main-highlight-color-2);
}

.login-input input {
  margin-top: 4px;
}

/* CONTAINER**/

.container p,
a {
  font-size: var(--main-font-size);
}

.container img {
  border-radius: 4px;
}

.container-toggle-switch {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.container-toggle-switch p {
  margin: 0 5px;
}

.container p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.container {
  display: grid;
  row-gap: 8px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 32px;
}

.container-description {
  height: 80px;
}

.container h4 {
  color: var(--main-highlight-color-1);
  font-size: 32px;
}

.container hr {
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: var(--secondary-gray);
}

.container img {
  height: 84px;
  width: 128px;
  margin-right: 8px;
  object-fit: cover;
}

.container-author-time {
  display: flex;
}
.container-author-time h5 {
  margin-right: 8px;
  text-transform: capitalize;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #27bfb4;
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 1.5px;
  width: 17px;
  height: 17px;
  background-color: var(--main-highlight-color-2);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(15px);
  background-color: var(--main-highlight-color-1);
}

.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #e10417;
}

/*initiative.js */

.images-iniciativa {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.images-iniciativa img {
  width: 375px !important;
  height: 272px !important;
  margin-right: 8px;
  border-radius: 8px;
  background-color: lightgray;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.initiative p {
  max-width: 800px;
}

.info-initiative {
  display: flex;
  flex-direction: row;
}

.info-initiative h5 {
  margin-right: 10px;
}

.initiative-description-likes {
  display: grid;
  padding-top: 16px;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  color: lightgray;
}

.initiative-name-follow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.initiative-name-follow h2 {
  margin-right: 32px;
}

.initiative-breadcrumbs-nav {
  display: flex;
  justify-content: space-between;
}

.initiative-actions ul {
  margin-right: 16px;
  display: flex;
}
.initiative-actions li {
  list-style-type: none;
}

.initiative-actions li a {
  margin-right: 16px;
  padding: 8px;
  border-radius: 8px;
  outline: 1px solid var(--main-font-color);
}

.initiative-actions li a:hover {
  color: white;
  background-color: var(--main-highlight-color-1) !important;
  outline: none;
  transition: 0.2s background-color;
}
.initiative-actions li .active {
  margin-right: 16px;
  outline: none;
  color: white;

  background-color: var(--main-highlight-color-1);
  list-style-type: none;
}

/*Change.js*/

.update img {
  width: 100%;
  height: 200px;
}

/*Spinner*/

.loader {
  background-color: var(--main-highlight-color-2);
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
