@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  border-color: var(--secondary-gray);
  box-sizing: border-box;
}

:root {
  --main-highlight-color-1: #ff7337;
  --main-highlight-color-2: #47dad0;
  --main-font-color: #5a5a5a;
  --main-gray: #aeaeae;
  --secondary-gray: #e5e5e5;
  --main-font-size: 12pt;
  --main-font-weight: 500;
  --main-border-weight: 1px;
}

a {
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: var(--main-font-color);
}

h1 {
  color: var(--main-highlight-color-1);
  font-size: 64pt;
}

h2 {
  color: var(--main-highlight-color-);
  font-size: 48pt;
}

h3 {
  color: var(--main-highlight-color-1);
  font-size: 24pt;
}

h4 {
  color: var(--main-highlight-color-1);
  font-size: 16pt;
}

h5 {
  font-size: 12px;
  color: var(--main-gray);
}

p {
  color: var(--main-font-color);
}

nav {
  width: 86%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}

nav > ul > li {
  padding: 16px;
}

nav li {
  min-width: 20px;
}

nav > a > img {
  width: 200px;
}

input,
select {
  border: 1px solid var(--main-gray);
  border-color: var(--secondary-gray);
  color: var(--main-font-color);
  border-radius: 4px;
}

button {
  color: white;
  background-color: var(--main-highlight-color-1);
  border: none;
  padding: 8px 16px;
  transition: 0.2s background-color;
  border-radius: 4px;
}

button:hover,
button:focus {
  color: white;
  outline: none;
  background-color: var(--main-highlight-color-2);
}

.like {
  color: white;
  outline: none;
  background-color: var(--main-highlight-color-1);
}

.unlike {
  color: var(--main-gray) !important;
  background-color: transparent !important;
  outline: 1px solid var(--secondary-gray) !important;
  border-radius: 4px;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: var(--secondary-gray);
  margin-top: 16px;
}

a {
  color: var(--main-font-color);
}

a:hover {
  color: var(--main-highlight-color-1);
}

p {
  color: var(--main-font-color);
}

.active {
  font-weight: bold;
  color: var(--main-highlight-color-1);
}

.app {
  width: 85vw;
  padding-top: 120px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  position: fixed;
  top: -10px;
  background-color: white;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 30px;
  height: 110px;
  font-size: var(--main-font-size);
  z-index: 5;
  border-bottom: 1px solid var(--secondary-gray);
}

.navbar ul img {
  max-width: 24px;
}

.button-add {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 40px;
  border-radius: 60px;
  right: 8vw;
  text-align: center;
  outline: transparent;
  font-size: 24px;
  color: white !important;
  background-color: var(--main-highlight-color-1);
  box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.2);
}

.button-add:hover {
  background-color: var(--main-highlight-color-2) !important;
  color: var(--main-font-color) !important;
}

.initiative {
  display: flex;
  flex-flow: column wrap;
}

.initiative-parent {
  width: 100%;
  margin-top: 16px;
}

.initiative-sub-one {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.initiative-sub-two {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 16px;
}

.initiative-container {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.anuncio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 24px 32px;
  font-size: var(--main-font-size);
  width: 49.5%;
  gap: 16px;
}

.anuncio img {
  height: 160px;
  margin-right: 8px;
  object-fit: cover;
}

.anuncio p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Comentario {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 24px 32px;
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  width: 49.5%;
  gap: 16px;
}

.Comentario img {
  height: 160px;
  margin-right: 8px;
  object-fit: cover;
}

.Comentario p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#confirmationForm {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-size: var(--main-font-size);
}



.clickable {
  display:flex;
  flex-flow: row-reverse;
}

.initiative-container a {
  width: 49.2%;
}

.top-initiative-subnavbar {
  margin-top: 8px;
  padding-top: 16px;
}

.initiative-subnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--main-font-size);
  max-height: 32px;
}

.initiative-subnavbar h4 {
  display: flexbox;
  font-size: var(--main-font-size);
}

.initiative-subnavbar-filters {
  display: flex;
  align-items: center;
}

.title-button {
  display: flex;
  justify-content: space-between;
}

.initiative-subnavbar-filters input,
.initiative-subnavbar-filters select {
  margin-left: 16px;
  border-radius: 4px;
  height: 36px;
}
.initiative-subnavbar-filters div {
  white-space: nowrap;
  background-color: var(--main-highlight-color-1);
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--main-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-highlight-color-1);
}

/*iniciativemodalcreate.js*/

.modal {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-body {
  font-size: var(--main-font-size);
  background: white;
  z-index: 1;
  width: 400px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  color: var(--main-font-color);
}

.modal-body input {
  font-size: var(--main-font-size);
  margin-top: 4px;
  border-radius: 4px;
  color: var(--main-font-color);
}

.modal-body button {
  border-color: var(--secondary-gray);
  color: white;
  margin-top: 16px;
  font-size: var(--main-font-size);
  font-family: "Inter", sans-serif;
}

.modal-body h4 {

  color: var(--main-font-color);
}

.modal-body h3 {
  margin-bottom: 8px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.titleclose{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal-form textarea,
input {
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.modal-form button {
  color: white;
  margin-top: 4px;
  border-radius: 4px;
}

.modal-form input,
textarea {
  margin-top: 8px;
  margin-bottom: 8px;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  padding: 0;
  opacity: 0;
}

.modal [type="file"] + label {
  position: relative;
  background: var(--main-gray);
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  /*display: grid;*/
  place-items: center;
  font-weight: 900;
  margin-bottom: 1rem;
  outline: none;
  height: 84px;
  width: 128px;
  transition: all 0.3s;
}

.modal [type="file"] + label:hover {
  background: var(--main-highlight-color-1);
}

label p {
  z-index: 1;
}

.modal progress {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  color: var(--main-highlight-color-1);
}
progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 4px;
}

progress::-webkit-progress-value {
  background-color: #fd5160;
}

.modal-upload-images {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-top: 8px;
}

.images {
  display: flex;
  flex-direction: row;
  height: 88px;
}

.image-added {
  position: relative;
}
.image-added img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.image-added p {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  color: transparent;
  /*display: grid;*/
  place-items: center;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.image-added p:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--main-highlight-color-1);
}

.image-added {
  position: relative;
  height: 84px;
  width: 128px;
  margin: 0px 8px;
  border-radius: 4px;
  overflow: hidden;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

#ck-button {
  font-size: var(--main-font-size);
  margin: 4px;
  padding: 4px;
  background-color: var(--secondary-gray);
  border-radius: 4px;
  border: 1px solid var(--secondary-gray);
  overflow: auto;
  float: left;
  color: var(--main-font-color);
}

#ck-button:hover {
  margin: 4px;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid red;
  overflow: auto;
  float: left;
  color: red;
}

#ck-button label {
  float: left;
  width: 4em;
}

#ck-button label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
}

#ck-button label input {
  position: absolute;
  top: -20px;
}

#ck-button input:checked + span {
  background-color: var(--main-highlight-color-1);
  color: #fff;
}

/* Login **/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.login h1 {
  color: var(--main-font-color);
}

.login-info {
  width: 60%;
}

.login-info-text {
}

.login-info-text h4 {
  color: var(--main-font-color);
}

.login-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  /*display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  margin-top: 10px;*/
}

.login-buttons h4 {
  color: white;
}

.login-buttons div {
  display: flex;
  cursor: pointer;
  height: 40px;
  width: 49%;
  border-radius: 4px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
}

.login-buttons div:first-child {
  background: var(--main-highlight-color-1);
}
.login-buttons div:last-child {
  background: var(--main-highlight-color-2);
}

.login-input input {
  margin-top: 4px;
}

.login-input h5 {
  font-size: var(--main-font-size);
  color: var(--main-highlight-color-1);
}

/* CONTAINER**/

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 24px 32px;
  height: 360px;
}

.container h5 {
  font-size: var(--main-font-size);
  color: var(--main-highlight-color-1);
  font-weight: 400;
}

.container p,
a {
  font-size: var(--main-font-size);
}

.container img {
  border-radius: 4px;
}

.container-top {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.container-img {
  display: flex;
  margin-top: 16px;
}

.container-toggle-switch {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.container-toggle-switch p {
  margin: 0 5px;
}

.container p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container-description {
  margin-top: 16px;
}

.container-location h5 {
  font-size: 16px;
  color: var(--main-gray);
}

.container h4 {
  color: var(--main-highlight-color-1);
  font-size: 32px;
}

.container hr {
  height: 1px;
  border: 0;
  border-top: 1px solid;
  border-color: var(--secondary-gray);
  margin-top: 16px;
  margin-bottom: 16px;
}

.container img {
  height: 84px;
  width: 128px;
  margin-right: 8px;
  object-fit: cover;
}

.container-author-time {
  display: flex;
}
.container-author-time h5 {
  margin-right: 8px;
  text-transform: capitalize;
  color: var(--main-font-color);
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #27bfb4;
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 1.5px;
  width: 17px;
  height: 17px;
  background-color: var(--main-highlight-color-2);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(15px);
  background-color: var(--main-highlight-color-1);
}

.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #e10417;
}

/*initiative.js */

.images-iniciativa {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 16px;
}

.images-iniciativa img {
  width: 375px !important;
  height: 272px !important;
  margin-right: 8px;
  border-radius: 4px;
  background-color: lightgray;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.initiative p {
  max-width: 800px;
}

.info-initiative {
  display: flex;
  flex-direction: row;
}

.info-initiative h5 {
  margin-right: 8px;
  font-size: var(--main-font-size);
  font-weight: 400;
}

.initiative-description-likes {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  color: lightgray;
}

.initiative-description-likes p {
  width: 50%;
}

.initiative-description-likes h2 {
  width: 50%;
}

.initiative-name-follow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.initiative-name-follow h2 {
  margin-right: 32px;
}

.initiative-breadcrumbs-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.initiative-breadcrumbs-nav h5 {
  font-size: var(--main-font-size);
  color: var(--main-highlight-color-1);
}

.initiative-actions ul {
  display: flex;
  gap: 16px;
  width: 100%;
}

.initiative-actions li {
  list-style-type: none;
}

.initiative-actions li a {
  font-size: var(--main-font-size);
  padding: 8px;
  border-radius: 4px;
  outline: 1px solid var(--secondary-gray);
}

.initiative-actions li a:hover {
  color: white;
  background-color: var(--main-highlight-color-1) !important;
  outline: none;
  transition: 0.2s background-color;
}
.initiative-actions li .active {
  outline: none;
  color: white;
  background-color: var(--main-highlight-color-1);
  list-style-type: none;
}

/*Change.js*/

.update img {
  width: 100%;
  height: 200px;
}

/**/

.discussion form img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.discussion .images {
  height: initial;
}

.discussion form {
  display: flex;
}
.discussion [type="file"] + label {
  position: relative;
  background: var(--main-gray);
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  display: grid;
  place-items: center;
  outline: none;
  height: 40px;
  width: 40px;
  transition: all 0.3s;
}

.discussion button {
  display: none;
}

.discussion [type="file"] + label:hover {
  background: var(--main-highlight-color-1);
}



/*Spinner*/

.loader {
  background-color: var(--main-highlight-color-2);
  z-index: 10;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/*Updates Bar*/

.panel-wrap {
  position: fixed;
  top: 110px;
  bottom: 0;
  right: 0;
  width: 573px;
  transform: translateX(100%);
  transition: 0.3s ease-out;
  z-index: 4;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: var(--main-gray);
  border-left: 0.5px solid var(--secondary-gray);
  overflow: auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}

.TopNotif {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
.checked {
  transform: translateX(0%) !important;
}

.notification {
  display: flex;
  flex-direction: row wrap;
  margin: 16px 0px;
  gap: 16px;
}

.notification p {
  color: var(--main-gray) !important;
}

.notification-content {
  display: flex;
  flex-flow: column nowrap;
}

.notification-content h5 a {
  font-size: 12px;
  margin: 0px 4px;
}

/*inicio*/


.feed h3 {
  color: var(--main-highlight-color-2);
  margin-top: 16px;
}

.greeting{
  margin-top: 8px;
}
.greeting h1{
  color: var(--main-highlight-color-2);
}

.greeting h2{
  font-size: 80px;
  color: var(--main-gray);
}

.initiative-feed {
  overflow-x: scroll;
  padding: 16px 0px;
}
.initiative-feed-container {
  display: flex;
  flex-direction: row;
}

.initiative-feed-container .container {
  width: 860px;
  margin-right: 16px;
}

/*users.js*/

.user-content {
  display: flex;
}


/*Mobile version*/

@media only screen and (max-device-width: 480px) {
    html {
      background: #fff;
      overflow-y: scroll;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%
     }
      html * {
          outline: 0;
          -webkit-text-size-adjust: none;
      }
      html,
      body {
          font-family: "Inter", sans-serif;

      }
      body,
      div,
      dl,
      dt,
      dd,
      ul,
      ol,
      li,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      pre,
      code,
      form,
      fieldset,
      legend,
      input,
      textarea,
      p,
      blockquote,
      th,
      td,
      hr,
      button,
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
          margin: 0;
          padding: 0
      }
      input,
      select,
      textarea {
          font-size: 100%
      }
      table {
          border-collapse: collapse;
          border-spacing: 0
      }
      fieldset,
      img {
          border: 0
      }
      abbr,
      acronym {
          border: 0;
          font-variant: normal
      }
      del {
          text-decoration: line-through
      }
      address,
      caption,
      cite,
      code,
      dfn,
      em,
      th,
      var {
          font-style: normal;
          font-weight: 500
      }
      ol,
      ul {
          list-style: none
      }
      caption,
      th {
          text-align: left
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          font-size: 100%;
          font-weight: 500
      }
      q:before,
      q:after {
          content: ''
      }
      sub,
      sup {
          font-size: 75%;
          line-height: 0;
          position: relative;
          vertical-align: baseline
      }
      sup {
          top: -.5em
      }
      sub {
          bottom: -.25em
      }
      a:hover {
          text-decoration: underline
      }
      ins,
      a {
          text-decoration: none
      }

      h1 {
        font-size: 36px;
        font-weight: 800;
      }

      h2 {
        font-size: 32px;
        font-weight: 700;
      }

      h3 {
        font-size: 30px;
        font-weight: 700;
      }

      h4 {
        font-size: 20px;
        font-weight: 600;
      }

      /*login mobile*/

      .login {
        display: flex;
        flex-flow: column nowrap;
        gap: 32px;
        justify-content: center;
        align-items: flex-start;

      }

      .login-info {
        width: 100%;
      }

      .login-info-text {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 0 40px;
        gap: 16px;
      }

      .login-input {
        padding: 0 40px;
      }

      .login-input input {
        padding: 8px;
      }
      .login-buttons {
        display: flex;
        flex-flow: column;
      }

      .login-buttons div {
        width: 100%;
      }

      /*Formulario registro mobile*/

      .modal-body {

        border-radius: 0;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        gap: 8px;
      }

      .modal-body input {
        padding: 8px;
        margin: 0;
      }

      .modal-body button{
        padding: 8px;
        margin: 0;
      }

      .container-toggle-switch{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      .keywords {
        margin: 0;
      }

      /**/

      .app h1 {
        font-size: 36px;
        font-weight: 800;
      }

      .app h2 {
        font-size: 28px;
        font-weight: 600;
      }

      .app h3 {
        font-size: 30px;
        font-weight: 700;
      }

      .app h4 {
        font-size: 20px;
        font-weight: 600;
      }
      
      .navbar ul {
        display: none;
      }

      /*Feed*/

      .initiative-feed .container {
        max-width: 300px;
      }

      /*Iniciativas*/

      .container {
        max-height: 160px;
      }

      .container img {
        display: none;
      }

      .container hr {
        display: none;
      }

      .initiative-subnavbar-filters select{
        margin: 0;
      }

      .initiative {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
      }

      .initiative-sub-one{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
      }

      .initiative-sub-two{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
      }

      .initiative-container{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
      }

      .initiative-container a{
        width: 100%;
      }

      .initiative-subnavbar h4 {
        display: none;
      }

      .container-author-time {
        display: none;
      }

      .container-location {
        display: none;
      }

      .title-button h4{
        font-size: 30px;
      }
      .container-bot p {
        font-size: 20px;
      }

      .container-description {
        margin: 0;
      }

      .container-bot a{
        display: none;
      }


}